
@import url('https://fonts.cdnfonts.com/css/pepsi');

html{
        height: 150%;
        max-width: 100%;
        background: linear-gradient(to bottom, #3929cf, #f72424, white) no-repeat;
      }
      
      /* navbar */
      
      header {
        background-color: #312727;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
      }
      
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-family: '! PEPSI !', sans-serif;
                                                
      }
      
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        margin: 0 30px;
      }
      
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        transition: 0.4s ease;
      }
      
      a:hover {
        transition: 0.4s;
        color: #6756ff;
        font-size: larger;
      }

      /* dropdown contact us */

      .dropdown-menu{
        display: none;
      }

      .contact-us .dropdown-menu :hover {
        display: flex;
        flex-direction: column;
      }

      /* pepsi image */

      #pepsi_image{
        position: absolute;
        width: 550px;
        height: 550px;
        left: -3%;
        bottom: -40%;
        transition: 0.4s;
      }

      #pepsi_image:hover{
        transition: 0.4s ease-in-out;
        width: 600px;
        height: 600px;
      }

      #pepsi_image2{
        position: absolute;
        width: 950px;
        height: 600px;
        bottom: -50%;
        transition: 0.4s;
        left: 1%;
      }

      #pepsi_image2:hover{
        transition: 0.4s ease-in-out;
        width: 1000px;
        height: 650px;
      }

      /* the best text */
      
      #thebest{
        font-size: 50px;
        position: absolute;
        top: 30%;
        right: 15%;
        font-family: '! PEPSI !', sans-serif;
        background: linear-gradient(to right, #2a09a0, #e7e6f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      /* pepsi icon */

      #pepsi-icon{
        position: absolute;
        top: 1%;
        right: 5%;
        width: 76px;
        height: 76px;
      }

      /* footer */

      .footer{
      position: absolute;
      width: 100%;
      height: fit-content;
      background: linear-gradient(to bottom, #7e7d80, #2d2d2e);
      bottom: -50%;
      }

      #footer{
        color: #e7e6f1;
        text-align: center;
        font-family: '! PEPSI !', sans-serif;
      }
      

      /* 2 buttons */

      .order_products{
        position: absolute;
        width: 230px;
        height: 85px;
        font-size: large;
        background: #e7e6f1;
        border: 0;
      }

      .order_products:hover{
        transition: 0.3s ease-in;
        cursor: pointer;
        background-color:rgb(62, 94, 238);
        color: white;

      }

      /* products button */

      #view_products{
        top: 80%;
        right: 30%;
      }

      /* order now button */

      #order_now{
       top: 100%;
       right: 30%;
      }

      /* social media */

      .socialmedia_div{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -40%;
        right: 15%;
        height: 60px;
      }
      
      .socialmedia_button{
        height: 35px;
        width: 35px;
        transition: 0.3s ease;
      }

      .socialmedia_button:hover{
        cursor: pointer;
        height: 45px;
        width: 45px;
        transition: 0.3s ease;
      }

      /* whatsapp */

      #whatsapp{
        margin-right: 40px;
      }
      

      /* facebook */

      #facebook{
        margin-right: 40px;
      }

      /* search field */

      .searchfield {
        position: absolute;
        top: 20%;
        left: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      input[type="text"] {
        padding: 10px;
        border: 0px solid #ccc;
        border-radius: 15px;
        font-size: 16px;
        width: 300px;
        max-width: 100%;
        box-sizing: border-box;
        outline: none;
      }
      
      input[type="text"]:focus {
        border-color: #515558;
        box-shadow: 0 0 5px #515558;
      }

      button[type="submit"] {
        padding: 10px;
        margin-left: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      
      button[type="submit"]:hover {
        background-color: #0069d9;
      }
      
      button[type="submit"] i {
        margin-right: 5px;
      }
      
      
      
      
      
      
      

    

      
